html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    height: 105px;
    /* background-color: #909090; */
    background: #AAAAAA;
    background: -webkit-linear-gradient(to top, #AAAAAA 5%, #909090 16%);
    background: -moz-linear-gradient(to top, #AAAAAA 5%, #909090 16%);
    background: linear-gradient(to top, #AAAAAA 5%, #909090 16%);
}

footer {
    height: 40px;
    background-color: #909090;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    height: calc(100% - 145px);
}

.main-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}


/* main page first row */

.big-row {
    height: 385px;
    display: flex;
    justify-content: center;
}

.big-col {
    width: 291px;
    height: 354px;
    margin: 31px 6px 0px 6px;
    border-bottom-right-radius: 25px;
}

.big-col:first-child {
    background-image: url("images/1908364606615453350.JPG");
}

.big-col:nth-child(2) {
    background-image: url("images/Picture-046410251500.jpg");
}

.big-col:last-child {
    background-image: url("images/פזקר_-291_354410564000.jpg");
}

.txt-container {
    width: 246px;
    height: 95px;
    background-color: rgba(123, 121, 119, 0.9);
    margin-top: 253px;
    border-bottom-right-radius: 25px;
    margin-right: 6px;
    color: white;
    line-height: 1.1;
}

.txt-container h3 {
    /* padding-top: 10px;
    padding-bottom: 0; */
    /* margin: 0px 10px 5px 5px; */
    padding: 0;
    margin: 0;
    padding: 4px 10px 0 10px;
}

.txt-container p {
    /* margin: 5px; */
    padding: 0;
    margin: 0;
    padding: 3px 10px 0 10px;
}

.txt-container a {
    float: left;
    margin-left: 10px;
    padding-left: 12px;
    color: white;
    background: url("images/read_more_white.png") left center no-repeat;
}

.txt-container a:hover {
    color: #005ca0;
    background: url("images/read_more_blue.png") left center no-repeat;
}


/* main page second row */

.small-row {
    height: 234px;
    display: flex;
    justify-content: center;
}

.small-col {
    width: 291px;
    height: 215px;
    margin: 19px 6px 0px 6px;
    background: url("images/small_cube_bg.png") no-repeat top center;
    text-align: center;
}

.small-col h3 {
    color: #575757;
    margin-top: 8px;
    margin-right: 22px;
    text-align: right;
}

.small-col img {
    text-align: center;
    margin-top: 10px;
}

.small-col:last-child img {
    margin-top: 0;
    float: left;
    margin-left: 25px;
}

.small-col:last-child ul {
    float: right;
    list-style-type: none;
    margin-right: 0;
    padding-right: 25px;
}

.small-col:not(:last-child) a {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
}

.small-col a {
    display: block;
    color: #72716d;
    background: url("images/read_more_yellow.png") left center no-repeat;
    margin-right: 0px;
    padding-left: 12px;
    padding-top: 5px;
}

.small-col a:hover {
    color: #005ca0;
    background: url("images/read_more_blue.png") left center no-repeat;
}

ul {
    margin: 0;
    padding: 0;
}


/* upper main menu */

nav {
    color: #fff;
    margin-left: -150px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #005ca0;
}

nav ul li {
    display: block;
    list-style-type: none;
    height: 100%;
}

nav>ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav>ul>li>ul {
    /* background-image: linear-gradient(white, #909090); */
    background: #909090;
    background: -webkit-linear-gradient(to top, #909090 79%, #AAAAAA 100%);
    background: -moz-linear-gradient(to top, #909090 79%, #AAAAAA 100%);
    background: linear-gradient(to top, #909090 79%, #AAAAAA 100%);
    position: relative;
    padding: 1px 5px 5px 5px;
}

nav ul li ul {
    display: none;
    /* position: relative; */
}

nav ul li:hover ul {
    display: block;
    z-index: 10;
    margin-left: -35px;
}

nav>ul>li>ul>li>a>h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav>ul>li>a>h3::before {
    content: "|";
    color: #aaaaaa;
    margin: 0 15px 0 15px;
}

nav>ul>li>ul>li:not(:last-child) {
    border-bottom: solid 1px #aaaaaa;
    margin: 0;
}

nav ul li a img {
    margin-top: 16px;
}

nav ul li a img:hover {
    src: url("images/menu_home_blue.png");
}

.search-container {
    height: 50%;
}

nav {
    height: 50%;
}

.logo-link {
    position: absolute;
    margin: -23px 420px 0 15px;
}


/* search box */

.search-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 206px;
}

.search-box input[type=text] {
    border-top-right-radius: 10px;
    border: none;
    height: 17px;
    margin-left: 0;
}

.search-box span {
    color: white;
    margin-left: 20px;
    margin-top: 32px;
}


/* footer menu */

footer>div {
    overflow: hidden;
    margin: 12px
}

footer>div ul {
    list-style: none;
    padding: 0;
    margin-left: -4px;
    text-align: center;
}

footer>div ul li {
    display: inline;
    white-space: nowrap;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

footer>div ul li img {
    position: absolute;
    right: 440px;
}

footer>div ul li span:hover,
footer>div ul li:last-child span:hover {
    text-decoration: underline;
    color: #005ca0!important;
}

footer>div:not(.contact-footer-menu) ul li:last-child span {
    color: red;
}

footer>div ul li:not(:first-child):before {
    content: " | ";
}


/* contact page */

.contact-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.column {
    border: solid 1px black;
    height: 100%;
    width: 100%;
}

.contact-link {
    width: 123px;
    height: 37px;
    background: #CCCCCC;
    background: -webkit-linear-gradient(to top, #CCCCCC 13%, #FFFFFF 93%);
    background: -moz-linear-gradient(to top, #CCCCCC 13%, #FFFFFF 93%);
    background: linear-gradient(to top, #CCCCCC 13%, #FFFFFF 93%);
    float: left;
    margin-top: 33px;
    border-top: 1px solid #dedede;
    position: relative;
}

.contact-link a {
    color: #5c5c5c;
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
}

.contact-link a:hover {
    text-decoration: underline;
    color: #005ca0
}

.contact-link span {
    color: #005CA0;
    font-size: 2em;
    position: absolute;
    right: -7px;
    top: 3px;
}