html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
}

header {
    height: 105px;
    background-color: #909090;
}

footer {
    height: 40px;
    background-color: #909090;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: calc(100% - 145px);
}

.big-row {
    height: 385px;
    display: flex;
    justify-content: center;
}

.small-row {
    background-color: green;
    height: 234px;
    display: flex;
    justify-content: center;
}

.big-col {
    background-color: red;
    width: 291px;
    height: 354px;
    margin: 31px 6px 0px 6px;
    border-bottom-right-radius: 25px;
}

.big-col:first-child {
    background-image: url("images/1908364606615453350.JPG");
}

.big-col:nth-child(2) {
    background-image: url("images/Picture-046410251500.jpg");
}

.big-col:last-child {
    background-image: url("images/פזקר_-291_354410564000.jpg");
}

.small-col {
    background-color: black;
    width: 291px;
    height: 215px;
    margin: 19px 6px 0px 6px;
}

.txt-container {
    width: 246px;
    height: 95px;
    background-color: rgba(144, 144, 144, 0.9);
    margin-top: 253px;
    border-bottom-right-radius: 25px;
    margin-right: 6px;
}